node_modules
.env
uploads/characters/*.jpg
uploads/characters/*.jpeg
uploads/characters/*.gif
uploads/characters/*.png
uploads/generos/*.jpg
uploads/generos/*.jpeg
uploads/generos/*.gif
uploads/generos/*.png
uploads/movies/*.jpg
uploads/movies/*.jpeg
uploads/movies/*.gif
uploads/movies/*.png